@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Overpass&family=Roboto:ital,wght@1,100&display=swap');

.image {
    margin-top: 13em;
    margin-left: 80em;
    width: 22em;
} 

.text {
    margin-top: -210px;
    margin-left: 180px;
    text-align: left;
}

.text .header {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.text p {
    font-size: 15px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
}
.contact {
    padding-top: 140px;
    padding-left: 180px;
    
}

.contact .phone {
    display: flex;
}

.box {
    margin-top: 100px;
}

.search {
    margin-top: -10px;
    margin-left: 830px;
}